@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="jumbotron" style="background-color:#164d7d; color:aliceblue">
    <h1>Hotel Booking</h1>
    <p class="lead">Szukasz noclegu? Dobrze trafiłeś ! Oferujemy wachlarz pokojów, z którego każdy zjadzie coś dla siebie.</p>
    <p><a href="Room" class="btn btn-primary btn-lg">Sprawdź ofertę</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>O Autorze</h2>
        <p>
            Podoba Ci się ta aplikacja? Chcesz zobaczyć kto stworzył coś takiego? Przejdź do sekcji o autorze!
        </p>
        <p>
            <a class="btn btn-default" href="About">O Autorze</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zarejestruj</h2>
        <p>
            Nie posiadasz jeszcze konta w tej cudownej aplikacji? Załóż już teraz! Kompletenie za darmo!
        </p>
        <p>
            <a class="btn btn-default" href="Account/Register">Zarejestruj</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zaloguj</h2>
        <p>
            Jesteś szczęśliwym posiadaczem konta w tej cudownej aplikacji ? Na co czekasz, zaloguj się!
        </p>
        <p>
            <a class="btn btn-default" href="Account/Login">Zaloguj</a>
        </p>
    </div>
</div>